---
Checks: 'bugprone-*,clang-analyzer-*,cppcoreguidelines-*,portability-*,readability-*,-readability-identifier-length'
CheckOptions:
    - key:        cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value:      true
    - key:        cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
      value:      true
...
