BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
AllowShortLambdasOnASingleLine: Empty
AlignEscapedNewlines: Left
