<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Defines.wxi ?>

    <Product Id="*" Name="!(loc.ApplicationName)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.GUID_UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of Khiin PJH is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="KhiinInstaller" Level="1">
            <ComponentGroupRef Id="Files_64" />
            <ComponentGroupRef Id="Files_32" />
            <ComponentGroupRef Id="AppDataFiles"/>
            <ComponentGroupRef Id="DllRegistration"/>
            <ComponentGroupRef Id="StartMenuShortcut"/>
        </Feature>

        <UI>
            <TextStyle Id="Font_Normal" FaceName="Microsoft JhengHei UI" Size="9" Bold="yes"/>
            <TextStyle Id="Font_Bigger" FaceName="Microsoft JhengHei UI" Size="13" Bold="yes"/>
            <TextStyle Id="Font_Title" FaceName="Microsoft JhengHei UI" Size="10" Bold="yes"/>
            <UIRef Id="WixUI_Minimal"/>
            <UIRef Id="WixUI_ErrorProgressText" />
        </UI>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseFile)"/>
        <WixVariable Id="WixUIDialogBmp" Value="$(var.KhiinUIDialogBmp)"/>
        <Icon Id="icon.ico" SourceFile="$(var.IconSourceFile)"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <CustomActionRef Id="RunUpdaterExe"/>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR64" Name="Khiin PJH" />
            </Directory>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR32" Name="Khiin PJH" />
            </Directory>
            <Directory Id="AppDataFolder">
                <Directory Id="APPDATADIR" Name="Khiin PJH"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Khiin PJH"/>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Files_64" Directory="INSTALLDIR64">
            <Component Id="KhiinPJH_64" Guid="$(var.GUID_Dll64Component)" Win64="yes">
                <File Id="KhiinDLL_64" Name="$(var.DllOutputFile64)" DiskId="1" Source="$(var.DllSourceFile64)" KeyPath="yes"/>
                <File Id="KhiinSettingsExe" Name="$(var.SettingsExeOutputFile)" DiskId="1" Source="$(var.SettingsExeSourceFile)" />
                <File Id="KhiinUpdaterExe" Name="$(var.UpdaterExeOutput)" DiskId="1" Source="$(var.UpdaterExeSource)" />
                <File Id="KhiinDbFile2" Name="$(var.DatabaseOutputFile)" DiskId="1" Source="$(var.DatabaseSourceFile)" />
                <File Id="UserDbFile2" Source="$(var.UserDbSourceFile)" Name="$(var.UserDbOutputFile)" DiskId="1" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Files_32" Directory="INSTALLDIR32">
            <Component Id="KhiinPJH_32" Guid="$(var.GUID_Dll32Component)" Win64="no">
                <File Id="KhiinDLL_32" Name="$(var.DllOutputFile32)" DiskId="1" Source="$(var.DllSourceFile32)" KeyPath="yes"/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="AppDataFiles" Directory="APPDATADIR">
            <Component Id="DatabaseFile" Guid="$(var.GUID_DatabaseFile)">
                <RemoveFolder Id="APPDATADIR" On="uninstall"/>
                <RegistryKey Root="HKCU" Key="Software\$(var.Manufacturer_EN)">
                    <RegistryValue Name="KhiinAppData" Type="integer" Value="1" KeyPath="yes" />
                </RegistryKey>
                <!-- <File Id="KhiinDbFile1" Source="$(var.DatabaseSourceFile)" Name="$(var.DatabaseOutputFile)" DiskId="1" /> -->
                <File Id="KhiinConfFile1" Source="$(var.ConfigSourceFile)" Name="$(var.ConfigOutputFile)" DiskId="1" />
                <File Id="UserDbFile1" Source="$(var.UserDbSourceFile)" Name="$(var.UserDbOutputFile)" DiskId="1" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="StartMenuShortcut" Directory="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="$(var.GUID_StartMenuShortcut)">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Khiin PJH"
                          Description="Khiin Phah Ji Hoat"
                          Target="[#KhiinSettingsExe]"
                          WorkingDirectory="INSTALLDIR64"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryKey Root="HKCU" Key="Software\$(var.Manufacturer_EN)">
                    <RegistryValue Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                </RegistryKey>
                <RegistryKey Root="HKCU" Key="Software\$(var.Manufacturer_EN)\Settings">
                    <RegistryValue Name="SettingsApplicationPath" Type="string" Value="[INSTALLDIR64]$(var.SettingsExeOutputFile)" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>

</Wix>
