<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

    <?include Defines.wxi ?>

    <Product Id="*" Name="!(loc.ApplicationName)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.GUID_UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of Khiin PJH is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="KhiinInstaller" Level="1">
            <ComponentGroupRef Id="Files_64" />
            <ComponentGroupRef Id="Files_32" />
            <ComponentGroupRef Id="AppDataFiles"/>
            <ComponentGroupRef Id="DllRegistration"/>
            <ComponentGroupRef Id="StartMenuShortcut"/>
            <ComponentGroupRef Id="RegistryEntries" />
        </Feature>

        <UI>
            <TextStyle Id="Font_Normal" FaceName="Microsoft JhengHei UI" Size="9" Bold="yes"/>
            <TextStyle Id="Font_Bigger" FaceName="Microsoft JhengHei UI" Size="13" Bold="yes"/>
            <TextStyle Id="Font_Title" FaceName="Microsoft JhengHei UI" Size="10" Bold="yes"/>
            <UIRef Id="WixUI_Minimal"/>
            <UIRef Id="WixUI_ErrorProgressText" />
        </UI>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.KhiinLicense.rtf)"/>
        <WixVariable Id="WixUIDialogBmp" Value="$(var.KhiinUIDialogBmp)"/> 
        <Icon Id="icon.ico" SourceFile="$(var.IconSourceFile)"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <CustomActionRef Id="UpdateDatabaseCA"/>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR64" Name="$(var.MfrName)" />
            </Directory>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR32" Name="$(var.MfrName)" />
            </Directory>
            <Directory Id="AppDataFolder">
                <Directory Id="APPDATADIR" Name="$(var.MfrName)"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.MfrName)"/>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Files_64" Directory="INSTALLDIR64">
            <Component Id="KhiinPJH_64" Guid="$(var.GUID_Dll64Component)" Win64="yes">
                <File Id="KhiinDLL_64" Name="$(var.KhiinTipDll64Trg)" Source="$(var.DllSourceFile64)" DiskId="1" KeyPath="yes" />
                <File Id="KhiinSettingsExe" Name="$(var.KhiinSettingsExeTrg)" Source="$(var.KhiinSettingsExeSrc)" DiskId="1" />
                <File Id="KhiinDbFile2" Name="$(var.KhiinDatabaseTrg)" Source="$(var.DatabaseSourceFile)" DiskId="1" />
                <File Id="UserDbFile2" Source="$(var.UserDbSourceFile)" Name="$(var.KhiinUserDbTrg)" DiskId="1" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Files_32" Directory="INSTALLDIR32">
            <Component Id="KhiinPJH_32" Guid="$(var.GUID_Dll32Component)" Win64="no">
                <File Id="KhiinDLL_32" Name="$(var.KhiinTipDll32Trg)" Source="$(var.DllSourceFile32)" DiskId="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="AppDataFiles" Directory="APPDATADIR">
            <Component Id="AppDataFileId" Guid="$(var.GUID_DatabaseFile)">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)">
                    <RegistryValue Name="appdata" Type="integer" Value="1" KeyPath="yes" /> 
                </RegistryKey>
                <File Id="KhiinConfFile1" Source="$(var.ConfigSourceFile)" Name="$(var.KhiinConfigTrg)" DiskId="1" />
                <File Id="UserDbFile1" Source="$(var.UserDbSourceFile)" Name="$(var.KhiinUserDbTrg)" DiskId="1" />
                <RemoveFolder Id="RemoveAppDataDir" On="uninstall"/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="StartMenuShortcut" Directory="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="$(var.GUID_StartMenuShortcut)">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)">
                    <RegistryValue Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                </RegistryKey>
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Khiin PJH"
                          Description="Khiin Phah Ji Hoat"
                          Target="[!KhiinSettingsExe]"
                          WorkingDirectory="INSTALLDIR64"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="RegistryEntries" Directory="TARGETDIR">
            <Component Id="RegistrySettings" Guid="$(var.GUID_RegistrySettings)">
                <RegistryKey Root="HKCU" Key="Software\$(var.MfrName)\Settings">
                    <RegistryValue Name="settings_exe" Type="string" Value="[INSTALLDIR64]$(var.KhiinSettingsExeTrg)" />
                    <RegistryValue Name="database" Type="string" Value="[APPDATADIR]$(var.KhiinDatabaseTrg)" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>

</Wix>
