<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Defines.wxi ?>

    <Fragment>
        <CustomAction Id="RunUpdaterExe"
                      Directory="INSTALLDIR64"
                      ExeCommand="&quot;[INSTALLDIR64]$(var.UpdaterExeOutput)&quot; -old &quot;[APPDATADIR]$(var.DatabaseOutputFile)&quot; -new &quot;[INSTALLDIR64]$(var.DatabaseOutputFile)&quot;"
                      Execute="deferred"
                      Return="check"
                      Impersonate="no"
                      />

        <InstallExecuteSequence>
            <Custom Action="RunUpdaterExe" After="InstallFiles">NOT Installed</Custom>
        </InstallExecuteSequence>
    </Fragment>
</Wix>
